@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.container {
  min-height: 100vh;
  font-size: 16px;
}

.nav {
  position: fixed;
  width: 100vw;
  z-index: 4;
}

.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  font-family: 'Dancing Script', sans-serif;
  font-weight: 600;
  color: #8A1216;
  padding-left: 15px;
  letter-spacing: 5px;
  font-size: 1.8em;
  z-index: 5;
}

.nav__burger {
  cursor: pointer;
  padding-right: 15px;
  z-index: 5;
}

.nav__burger__line {
  height: 3px;
  width: 30px;
  margin: 7px;
  background-color: #8A1216;
}

.nav__menu {
  -webkit-clip-path: circle(15% at 95% -20%);
          clip-path: circle(15% at 95% -20%);
  position: absolute;
  left: 0;
  top: 0vh;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

.nav__menu--active {
  -webkit-clip-path: circle(165% at 95% -20%);
          clip-path: circle(165% at 95% -20%);
}

.nav__list {
  list-style: none;
  padding: 30px;
}

.nav__link {
  text-decoration: none;
  color: #B0171C;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: 1s ease 0.5s;
  transition: 1s ease 0.5s;
}

.nav__link--active {
  opacity: 1;
}

.nav__link__about::before {
  font-family: 'Font Awesome 5 Free';
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: inherit;
  color: inherit;
}

.nav__link__progress::before {
  font-family: 'Font Awesome 5 Free';
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: inherit;
  color: inherit;
}

.nav__link__certificates::before {
  font-family: 'Font Awesome 5 Free';
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: inherit;
  color: inherit;
}

.nav__link__trainings::before {
  font-family: 'Font Awesome 5 Free';
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: inherit;
  color: inherit;
}

.nav__link__contact::before {
  font-family: 'Font Awesome 5 Free';
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: inherit;
  color: inherit;
}

.main-page {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/mpersonaltrainer/images/main-medium.jpg");
  background-size: cover;
  background-position: center;
}

.main-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-page__titles {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  z-index: 1;
}

.main-page__main-title, .main-page__side-title {
  font-weight: 100;
}

.about {
  height: 100vh;
  position: relative;
}

.about__content {
  position: relative;
  top: 10vh;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about__title h1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: #8A1216;
  font-size: 2em;
}

.about__title h1::after {
  content: "";
  display: block;
  width: 160%;
  height: 2px;
  border-radius: 5px;
  background-color: #8A1216;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -30%;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 100;
}

.about__description p {
  word-spacing: 1px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  width: 80%;
  font-size: 1.2em;
}

.about__description span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 5em;
  color: #B0171C;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__description span img {
  height: 80%;
  width: 50%;
}

.about::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
  -webkit-clip-path: polygon(100% 54%, 0 100%, 100% 100%);
          clip-path: polygon(100% 54%, 0 100%, 100% 100%);
  z-index: -1;
}

.progress {
  min-height: 250vh;
  position: relative;
  background-color: #000;
}

.progress__paths {
  position: relative;
  top: 10vh;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progress__title {
  -ms-flex-preferred-size: 20vh;
      flex-basis: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress__title h1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: #8A1216;
  font-size: 2em;
  margin-bottom: 20px;
}

.progress__title h1::after {
  content: "";
  display: block;
  width: 160%;
  height: 2px;
  border-radius: 5px;
  background-color: #8A1216;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -30%;
}

.progress__title h4 {
  width: 80%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
  color: #fff;
}

.progress__options {
  height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress__option {
  position: relative;
  width: 80%;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.progress__option__bodybuilding, .progress__option__powerlifting, .progress__option__gds {
  position: relative;
  height: 90%;
  background-size: cover;
  border-radius: 10px;
  padding: 10px;
}

.progress__option__bodybuilding span, .progress__option__powerlifting span, .progress__option__gds span {
  color: #B0171C;
  text-transform: uppercase;
  font-size: 1.2em;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  bottom: 0;
  left: 0;
  text-align: center;
}

.progress__option__bodybuilding {
  background-image: url("/mpersonaltrainer/images/bodybuilding.jpg");
}

.progress__option__powerlifting {
  background-image: url("/mpersonaltrainer/images/deadlift.jpg");
}

.progress__option__gds {
  background-image: url("/mpersonaltrainer/images/openCategory.jpg");
}

.progress .read-more {
  position: absolute;
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 30px;
  padding: 15px 30px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #a3151a;
  border-radius: 5px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  font-size: 18px;
  font-weight: 100;
}

.progress .read-more:hover {
  color: #a3151a;
  background-color: #fff;
}

.certificates {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.certificates::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 33%, 100% 0);
          clip-path: polygon(0 0, 100% 33%, 100% 0);
  background-color: #000;
  padding: 0;
}

.certificates__titles {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certificates__titles h1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: #8A1216;
  font-size: 2em;
  margin-bottom: 20px;
}

.certificates__titles h1::after {
  content: "";
  display: block;
  width: 160%;
  height: 2px;
  border-radius: 5px;
  background-color: #8A1216;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -30%;
}

.certificates__titles h4 {
  text-align: center;
  font-weight: 300;
  color: #B0171C;
  z-index: 2;
  width: 80%;
}

.certificates__carousel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.certificates__carousel__track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.certificates__carousel__slide {
  width: 100%;
  height: 90%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.certificates__carousel__slide:first-of-type {
  background-image: url("/mpersonaltrainer/images/certyfikat1.jpg");
}

.certificates__carousel__slide:nth-of-type(2) {
  background-image: url("/mpersonaltrainer/images/certyfikat2.jpg");
}

.certificates__carousel__slide:nth-of-type(3) {
  background-image: url("/mpersonaltrainer/images/certyfikat3.png");
}

.trainings {
  height: 130vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainings::after {
  font-family: "Font Awesome 5 Free";
  content: '\f073';
  font-size: 12em;
  color: rgba(163, 21, 26, 0.7);
  position: absolute;
  left: 70%;
  bottom: 2%;
}

.trainings__titles {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainings__titles h1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: #8A1216;
  font-size: 2em;
  margin-bottom: 20px;
}

.trainings__titles h1::after {
  content: "";
  display: block;
  width: 160%;
  height: 2px;
  border-radius: 5px;
  background-color: #8A1216;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -30%;
}

.trainings__titles h4 {
  width: 80%;
  text-align: center;
  font-weight: 300;
  color: #B0171C;
  margin-bottom: 20px;
}

.trainings__calendar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trainings__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #a3151a;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.trainings__event::before {
  font-family: "Font Awesome 5 Free";
  content: '\f0a4';
  font-size: 4em;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: -5%;
  bottom: -16%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.trainings__event .event-title {
  text-transform: uppercase;
  font-weight: 500;
  color: #630D10;
  font-size: 1.1em;
}

.trainings__event .event-date {
  font-weight: 300;
  color: #a3151a;
}

.trainings__event .event-read {
  padding: 5px;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  padding: 10px 30px;
  color: #fff;
  background-color: #B0171C;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-x: hidden;
}

.contact::before {
  font-family: "Font Awesome 5 Free";
  content: '\f086';
  position: absolute;
  font-size: 20em;
  color: rgba(163, 21, 26, 0.7);
  left: -20%;
  bottom: 1%;
}

.contact__titles {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__titles h1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: #8A1216;
  font-size: 2em;
  margin-bottom: 20px;
}

.contact__titles h1::after {
  content: "";
  display: block;
  width: 160%;
  height: 2px;
  border-radius: 5px;
  background-color: #8A1216;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -30%;
}

.contact__titles h4 {
  font-weight: 300;
  color: #B0171C;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contact__phone {
  text-align: center;
}

.contact__phone h5 {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #a3151a;
  position: relative;
}

.contact__phone h5 h5::after {
  content: '';
  position: absolute;
  width: 120%;
  height: 3px;
  left: -10%;
  background-color: #630D10;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

.contact__phone span {
  font-size: 1.2em;
  font-weight: 100;
}

.contact__email {
  margin-top: 20px;
  text-align: center;
}

.contact__email h5 {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #a3151a;
  position: relative;
}

.contact__email .ask-us {
  margin-top: 10px;
  padding: 10px 30px;
  text-transform: uppercase;
  border: 0;
  border-radius: 10px;
  font-weight: 100;
  font-size: 1.1em;
  color: #fff;
  background-color: #a3151a;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.contact .email-site {
  position: absolute;
  left: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

.contact .email-site h1 {
  padding-top: 10vh;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: #8A1216;
  font-size: 2em;
  margin-bottom: 20px;
}

.contact .email-site .email-form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .email-site .email-form label {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  margin: 20px;
  color: #630D10;
}

.contact .email-site .email-form .email-name {
  border: 0;
  border-bottom: 2px solid #a3151a;
  width: 90%;
}

.contact .email-site .email-form .email-name:focus {
  outline: 0;
  border-bottom: 3px solid #a3151a;
}

.contact .email-site .email-form .email-question {
  width: 90%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a3151a;
}

.contact .email-site .email-form .email-question:focus {
  outline: 0;
  border: 2px solid #a3151a;
}

.contact .email-site .email-form .email-submit {
  width: 60%;
  padding: 10px 30px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 300;
  border: 0;
  border-radius: 10px;
  color: #fff;
  background-color: #B0171C;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.contact__social-media {
  position: absolute;
  right: -10%;
  bottom: 5%;
  height: 20%;
  padding: 10px;
  width: 20%;
  border: 1px solid rgba(163, 21, 26, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__social-media span {
  font-size: 1.5em;
}

.contact__social-media span:first-of-type {
  color: #4646c8;
}

.contact__social-media span:nth-of-type(2) {
  color: #2f9ce6;
}

.contact__social-media span:last-of-type {
  color: #2f2fa0;
}

.contact .active-mail {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=style.css.map */